{% extends 'base.html' %}
{% load static %}
{% block title %} Singel Project {% endblock title %}

{% block stylesheet %} {% endblock stylesheet %}



{% block content %}


<section class="page-header padding">
<div class="container">
<div class="page-content text-center">
<h2>{{single_pro.title}}</h2>
<p>{{single_pro.details}}.</p>
</div>
</div>
</section>
<section class="project-single-section padding">
<div class="container">
<div class="row project-single-wrap align-items-center">
<div class="col-md-6 sm-padding">
<div id="project-single-carousel" class="project-single-carousel box-shadow owl-carousel">
<div class="single-carousel">
<img src="{{ single_pro.image.url }}" alt="img">
</div>
<div class="single-carousel">
<img src="{{ single_pro.image.url }}" alt="img">
</div>
<div class="single-carousel">
<img src="{{ single_pro.imageurl }}" alt="img">
</div>
</div>
</div>
<div class="col-md-6 sm-padding">
<div class="project-single-content">
<h2>{{single_pro.title}}</h2>
<p>{{single_pro.details}}</p>
<ul class="project-details">
<li><span>Architects</span>: José Carpio, Valentin Lacoste, Kyle Frederick</li>
<li><span>Location</span>: 962 Fifth Avenue, 3rd Floor New York.</li>
<li><span>Category</span>: Architecture, Interior.</li>
<li><span>Area</span>: 119.0.563</li>
<li><span>Project Year</span>: 2019/2020</li>
<li><span>Manufactures</span>: AlexaTheme construction company.</li>
</ul>
</div>
</div>
</div>
 </div>
</section>
{% endblock content %}


{% block script %} {% endblock script %}